.accueil {
  display: flex;
  flex-direction: column;
}

.section1_container {
  position: relative;
  margin: 0 0 20px 0;
}

.figcaption {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-weight: 500;
  font-size: 44px;
  line-height: 142.6%;
  display: flex;
  color: #ffffff;
  font-size: 24px;
  height: 111px;
  width: 218px;
}

.figcaption_background {
  margin: 0 auto;
  height: 111px;
  width: 100%;
  max-width: 1240px;
  background-color: #000000;
  filter: brightness(70%);
  border-radius: 25px;
  background-position: center;
  background: url("../../img/index_landscape.png");
  object-fit: cover;
}

.gallery {
  position: sticky;
  margin: auto;
  width: 100%;
}

.gallery_grid {
  gap: 20px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(340px, auto));
}

.card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}

.card_description {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: white;
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: 99;
  bottom: 5%;
  left: 20px;
  right: 20px;
}

.card_container {
  max-width: 800px;
  z-index: 100;
  position: relative;
  margin: auto;
  height: 255px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.card_container:hover > .cover {
  transition: all 0.5s;
  filter: brightness(0.8);
}
.card_container:hover {
  transition: all 0.5s;
  transform: scale(0.9);
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 20px;
    width: 80%;
    border-radius: 25px;
    background: #f7f7f7;
  }

  .figcaption {
    font-size: 44px;
    width: 60%;
    height: 223px;
  }

  .figcaption_background {
    height: 223px;
    margin: auto;
  }
  .section1_container {
    margin: 40px 0;
  }

  .gallery_grid {
    gap: 60px;
  }

  .card_container {
    margin: auto;
    height: 340px;
  }
}
