.accommodation_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;

  color: #ff6060;
}

.dropdown_description {
  font-size: 18px;
  line-height: 142.6%;
}

li {
  font-size: 18px;
  line-height: 142.6%;
  list-style: none;
}

.accommodation {
  display: flex;
  flex-direction: column;
}

.accommodation_tags {
  display: flex;
}

.accommodation_host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accommodation_title {
  margin: 30px 0 0 0;
  font-weight: 500;
  font-size: 18px;
}

.accommodation_location {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

.accommodation_tag {
  background: #ff6060;
  padding: 2px 15px;
  margin-right: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 10px;
  line-height: 142.6%;
}

.accommodation_header {
  display: flex;
  flex-direction: column;
}

.accommodation_profil {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.accommodation_profil_host {
  display: flex;
  margin: 0;
  align-items: center;
}

.accommodation_profil_host_name {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  align-items: center;
  width: 90px;
  height: 52px;
  margin: 0 10px 0 0;
  text-align: end;
}

.accommodation_profil_host_pic {
  border-radius: 50px;
  width: 32px;
  height: 32px;
  left: 1273px;
  top: 567px;
}

.accommodation_rating > * {
  height: 15px;
  width: 15px;
  padding: 1px;
}

.accommodation_dropdowns {
  margin: 26px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.accommodation_dropdowns > div {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .accommodation_host {
    flex-direction: row;
  }

  .accommodation_header {
    display: flex;
    flex-direction: column;
  }

  .accommodation_title {
    font-size: 36px;
  }

  .accommodation_location {
    font-size: 18px;
  }

  .accommodation_tag {
    font-size: 14px;
  }

  .accommodation_profil {
    display: flex;
    flex-direction: column;
  }

  .accommodation_profil_host {
    margin: 30px 0;
  }

  .accommodation_profil_host_name {
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    align-items: center;
    width: 90px;
    height: 52px;
    margin: 0 10px 0 0;
    text-align: end;
  }

  .accommodation_profil_host_pic {
    width: 64px;
    height: 64px;
  }

  .accommodation_dropdowns {
    flex-direction: row;
    gap: 10px;
  }
}
