.about_background {
  width: 1240px;
  height: 223px;
  margin: 20px auto;
  max-width: 90%;
  background-color: #000000;
  filter: brightness(70%);
  border-radius: 25px;

  background: url("../../img/about_moutain.png");
}
