.about_background {
  width: 1240px;
  height: 223px;
  margin: 40px auto;
  max-width: 90%;
  background-color: #000000;
  filter: brightness(70%);
  border-radius: 25px;

  background: url("../../img/about_moutain.png");
}

.about {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
